body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 12px;
  background: #fffbf5;
  text-align: center;
}

.droid-sans {
  font-family: 'Droid Sans Mono', monospace !important;
}

.container {
	width: 100%;
}

.center {
  margin: 0 10px;
}

textarea {
  color: grey;
  width: 50%;
}

h1 {
  background: white;
  border-bottom: 1px solid #F5B143;
  padding: 10px;
  margin: 0;
  text-align: center;
  font-size: 18px;
}
h1 span {
  font-size: 24px;
}

h2 {
  background: white;
  border-bottom: 1px solid #F5B143;
  border-top: 1px solid #F5B143;
  margin: 0;
  padding: 6px 0;
  text-align: center;
}

h2 span {
  font-size: 24px;
}

a {
  color: grey;
}

.rows {
  font-size: 8px;
  padding-bottom: 0;
}

.recharts-wrapper {
  margin: 20px auto;
}

.recharts-legend-wrapper {
  margin: 0 0 5px;
}

.input {
  padding: 10px 0;
}

footer {
  border-top: 1px solid #F5B143;
  background: white;
  padding: 6px 0;
}
